<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * wallee Shopware
 *
 * This Shopware extension enables to process payments with wallee (https://www.wallee.com/).
 *
 * @package Wallee_Payment
 * @author customweb GmbH (http://www.customweb.com/)
 * @license http://www.apache.org/licenses/LICENSE-2.0  Apache Software License (ASL 2.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
    	<element type="button">
            <name>buttonSynchronize</name>
            <label lang="de">Synchronisieren</label>
            <label lang="en">Synchronize</label>
            <options>
                <handler>
                    <![CDATA[
                    function(button) {
                    	if (window.WalleeActive) {
	                        openNewModule('Shopware.apps.WalleePaymentSynchronize');
                        } else {
                        	Shopware.Notification.createStickyGrowlMessage({
								title: 'wallee Payment',
								text: 'Please activate the plugin \'wallee Payment\' and reload the page before synchronising.'
							});
                        }
                    }
                    ]]>
                </handler>
            </options>
        </element>
        <element required="true" type="number">
            <name>applicationUserId</name>
            <label lang="de">Benutzer-Id</label>
            <label lang="en">User Id</label>
            <value></value>
            <description lang="en">The Application User needs to have full permissions in all spaces this shop is linked to.</description>
            <description lang="de">Der Applikationsbenutzer benötigt volle Zugriffsrechte auf alle Spaces, mit denen dieser Shop verlinkt ist.</description>
        </element>
        <element required="true" type="password">
            <name>applicationUserKey</name>
            <label lang="de">Authentication Key</label>
            <label lang="en">Authentication Key</label>
            <value></value>
        </element>
        <element required="true" type="number" scope="shop">
            <name>spaceId</name>
            <label lang="de">Space Id</label>
            <label lang="en">Space Id</label>
            <value></value>
        </element>
        <element type="boolean" scope="shop">
        	<name>orderEmail</name>
        	<label lang="de">Bestell-E-Mail senden</label>
        	<label lang="en">Send Order Email</label>
        	<value>1</value>
        </element>
        <element type="boolean" scope="shop">
        	<name>customerDownloadInvoice</name>
        	<label lang="de">Kunden-Download: Rechnung</label>
        	<label lang="en">Customer Download: Invoice</label>
        	<value>1</value>
        </element>
        <element type="boolean" scope="shop">
        	<name>customerDownloadPackingSlip</name>
        	<label lang="de">Kunden-Download: Lieferschein</label>
        	<label lang="en">Customer Download: Packing Slip</label>
        	<value>1</value>
        </element>
        <element type="boolean" scope="shop">
        	<name>customerDownloadRefund</name>
        	<label lang="de">Kunden-Download: Gutschrift</label>
        	<label lang="en">Customer Download: Refund</label>
        	<value>1</value>
        </element>
        <element type="select" scope="shop">
        	<name>orderStatusPending</name>
        	<label lang="de">Bestell-Status: Ausstehend</label>
        	<label lang="en">Order Status: Pending</label>
        	<value>8</value>
        	<store>Shopware.apps.Base.store.OrderStatus</store>
        </element>
        <element type="select" scope="shop">
        	<name>orderStatusAuthorized</name>
        	<label lang="de">Bestell-Status: Autorisiert</label>
        	<label lang="en">Order Status: Authorized</label>
        	<value>8</value>
        	<store>Shopware.apps.Base.store.OrderStatus</store>
        </element>
        <element type="select" scope="shop">
        	<name>orderStatusVoid</name>
        	<label lang="de">Bestell-Status: Annulliert</label>
        	<label lang="en">Order Status: Void</label>
        	<value>4</value>
        	<store>Shopware.apps.Base.store.OrderStatus</store>
        </element>
        <element type="select" scope="shop">
        	<name>orderStatusCompleted</name>
        	<label lang="de">Bestell-Status: Verbucht</label>
        	<label lang="en">Order Status: Completed</label>
        	<value>8</value>
        	<store>Shopware.apps.Base.store.OrderStatus</store>
        </element>
        <element type="select" scope="shop">
        	<name>orderStatusFulfill</name>
        	<label lang="de">Bestell-Status: Erfüllen</label>
        	<label lang="en">Order Status: Fulfill</label>
        	<value>5</value>
        	<store>Shopware.apps.Base.store.OrderStatus</store>
        </element>
        <element type="select" scope="shop">
        	<name>orderStatusCancelled</name>
        	<label lang="de">Bestell-Status: Abgelehnt/Fehlgeschlagen</label>
        	<label lang="en">Order Status: Declined/Failed</label>
        	<value>4</value>
        	<store>Shopware.apps.Base.store.OrderStatus</store>
        </element>
        <element type="boolean" scope="shop">
			<name>orderRemoveFailed</name>
			<label lang="de">Fehlgeschlagene Bestellungen löschen</label>
			<label lang="en">Delete failed orders</label>
			<value>0</value>
        </element>
        <element required="false" type="number" scope="shop">
            <name>spaceViewId</name>
            <label lang="de">Space View Id</label>
            <label lang="en">Space View Id</label>
            <value></value>
            <description lang="en">The Space View Id allows to control the styling of the payment form and the payment page. It allows in multistore setups to adapt the payment form to different styling per substore without requiring a dedicated space.</description>
            <description lang="de">Mit der Space View-ID können Sie das Styling des Zahlungsformulars und der Bezahlseite steuern. In Multistore-Setups erlaubt dies das Anpassen des Bezahlformulars an die verschiedenen Styles der Substores, ohne mehrere Spaces erstellen zu müssen.</description>
        </element>
    </elements>
</config>